$color-body_background: #090b1a;
$color-card_background: #1b1938;
$color-image_tint: #aa5cdb;
$color-maintitle_statselements: white;
$color-paragraph: rgba(255, 255, 255, .75);
$color-stats_headings:rgba(255, 255, 255, .6);

:root {
  font-size: 15px;
  font-family: 'Inter', Arial, sans-serif;
  color: $color-maintitle_statselements;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: $color-body_background;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 87vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  gap: 4vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $color-card_background;
  border-radius: .8rem;
  padding-bottom: 4vh;
}

.picture {
  width: 100%;
  height: 100%;
  -webkit-filter: contrast(60%);
          filter: contrast(60%);
  border-radius: .8rem .8rem 0 0;
}

.picturecontainer {
  position: relative;
}

.picturecontainer::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: $color-image_tint;
  mix-blend-mode: multiply;
  border-radius: .8rem .8rem 0 0;
}

.textcontainer {
  padding: 0 3.7vh;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  gap: 1.8vh;
}

.cardcontent__title {
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.2rem;
}

.cardcontent__title--important {
  color: $color-image_tint;
}

.cardcontent__details {
  text-align: center;
  color: $color-paragraph;
  line-height: 1.8rem;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.stats__element {
  display: flex;
  flex-direction: column;
  gap: 1.2vh;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.stats__element--heading {
  font-family: 'Lexend Deca';
  font-weight: normal;
  text-transform: uppercase;
  font-size: .8rem;
  color: $color-stats_headings;
}



// Medium size mobile devices

@media screen and (max-height: 740px) and (orientation: portrait) {
  :root {
    font-size: 13px;
  }
}

// Small size mobile devices

@media screen and (max-height: 570px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }
}

// High size tablets portrait orientation

@media screen and (min-width: 765px) and (orientation: portrait) {
  :root {
    font-size: 18px;
  }
}

// Medium size tablets portrait orientation

@media screen and (min-width: 600px) and (orientation: portrait) {
  :root {
    font-size: 16px;
  }
}

// Desktop computers

@media screen and (min-width: 960px) and (orientation: landscape) {
  .container {
    width: auto;
    margin: 0 11vw ;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4rem;
    padding: 0;
  }

  .picturecontainer {
    height: 100%;
    width: 100%;
  }

  .picture, .picturecontainer::after {
    border-radius: 0 .8rem .8rem 0;
  }

  .textcontainer {
    padding-left: 5rem;
    width: 57rem;
  }

  .cardcontent__title, .cardcontent__details, .stats__element {
    text-align: left;
  }

  .cardcontent__details, .stats {
    width: 90%;
  }

  .cardcontent__title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .stats {
    padding-top: 5vh;
    flex-direction: row;
    justify-content: space-between;
  }
}

// Tablets landscape orientation

@media screen and (min-width: 960px) and (max-width: 1214px) and (orientation: landscape) {
  :root {
    font-size: 15px;
  }

  .container {
    margin: 0;
    gap: 8vh;
  }

  .textcontainer {
    width: auto;
  }
}

// High size desktop screens

@media screen and (min-width: 1600px) and (orientation: landscape) {
  :root {
    font-size: 20px;
  }
}